In [1]:
import sqlite3
import pandas as pd

#Run First

#reads CSV into DataFrame
dataframe = pd.read_csv('processed_reviews.csv')

dataframe.columns = dataframe.columns.str.strip()

#Creates Database and stores the Reviews table
connection = sqlite3.connect('Trial.db')
dataframe.to_sql('Reviews', connection, if_exists= 'replace')

connection.close()

In [ ]:

#Run Second
connection1 = sqlite3.connect('Trial.db')
#Run Query
resultsDF = pd.read_sql('Select * From Reviews Where review_id = 3', connection1)
print(resultsDF)

connection1.close()

        index  review_id                                            user_id  \
0           0        3.0  decid eat here, awar go take two hour begin en...
1           2        3.0  famili diner. buffet. eclect assortment: larg ...
2           8        3.0  easter instead go lopez lake went lo padr nati...
3           9        3.0  parti six hibachi. waitress brought separ sush...
4          21        3.0  upland breweri base bloomington, indiana becom...
...       ...        ...                                                ...
28615  251288        3.0  food alway good, howev custom servic whether p...
28616  251289        3.0  fav bad either. guy corner nightli special mar...
28617  251309        3.0  much like place depend look for. subjectively,...
28618  251314        3.0  order appet sampler. chees ball, wings, devil ...
28619  251329        3.0  use love shop macy's, howev last year seem tho...

      business_id stars  text  date
0            None  None  None  None
1            None  None  None  None
2            None  None  None  None
3            None  None  None  None
4            None  None  None  None
...           ...   ...   ...   ...
28615        None  None  None  None
28616        None  None  None  None
28617        None  None  None  None
28618        None  None  None  None
28619        None  None  None  None

[28620 rows x 7 columns]